/* Contact */


#contact-form{
    margin-right: 200px;
    width: 500px;
    flex-wrap: wrap;
   
    display: flex;
    flex-direction: column;
    
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
   
}

.col-6-mail{
    width: 100%;
}

.col-6-name {
    width:100%;
    /* margin-right: 19px; */
}

textarea{
    resize: vertical;
}

.col-6-message{
width:100%;
}
.col-6-subject {
    width: 100%;
}

.row-name-mail{
    border: 1px solid rgb(255, 0, 0);
    width:100%;
   flex-direction: column;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content:center;
}

 .row-name-mail-container{
     flex-wrap: wrap;
     border:1px solid #fff;
    display: flex;
    align-items: center;
    justify-content:center;
    
    
} 
.row-subject-message {
         border:1px solid #fff;

    width: 100%;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;

}
.row{
    flex-wrap: wrap;
}

form {
    margin-top: 20px;
    /* background: #1f2235; */
}

.formRow {
    margin: 10px 0 20px 0;
}

.form-control {
    outline: none;
        width: 100%;
}

.formInput {
    margin-bottom: 20px;
    padding: 15px 10px;
    background-color: #282c45;
    border: none;
    color: white;
    border-radius: 8px;
   border: 0;
   outline: 0;
   background: transparent;
   border-bottom: 3px solid #222222;
   transition:all 0.4s ease;
}

.formInput:focus {
    background-color: transparent;
    padding: 17px 12px;
    border-bottom: 3px solid var(--primary);
    outline: none;
    -webkit-box-shadow: 0px 0px 9px 1px rgba(23, 23, 23, 1);
    -moz-box-shadow: 0px 0px 9px 1px rgba(23, 23, 23, 1);
    box-shadow: 0px 0px 9px 1px rgba(23, 23, 23, 1);
    color: white;
}

.formInput::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1;
    /* Firefox */
}

.formInput:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: white;
}

.formInput::-ms-input-placeholder {
    /* Microsoft Edge */
    color: white;
}

.submit-btn {
    letter-spacing:1px;
    background-color:var(--primary);
    /* color: #fff !important; */
    padding: 10px 20px;
    border: 4px solid var(--primary);
    border-radius: 10px;
    margin-bottom: 20px;
    outline: none !important;
    font-size:1em;
    font-weight:500;
    cursor: pointer;
    color: #fff;
    transition: all 0.4s ease;
    
}

.submit-btn:hover {
    background-color: transparent;
    color: #fff;
    padding: 10px 25px;
    border: 4px solid var(--primary);
    border-radius: 10px;
    margin-bottom: 20px;
    outline: none !important;
    font-size: 1em;
    font-weight: 500;
    cursor: pointer;

}

.button-container {
display: flex;
 justify-content:center;
 align-items:center
}

.errorMessage {
    color: #ff4a57;
    font-size: 14px;
    margin: 10px;
    padding: 0;
}

.submit-feedback {
    color: #fff;
    border-radius: 6px;
    width: 200px;
    margin-left: 75px;
}

.success {
    background-color: #28a745;
}

.fail {
    background-color: #dc3545;
}

@media (max-width: 768px) {
    .submit-message {
        width: 125px;
        margin-left: 200px;
    }
}

.contact-info {
    padding: 25px;
    padding-left: 20px;
    border-radius: 6px;
    
}

.contact-info span {
    font-weight: bold;
    position: relative;
    font-size: 16px;
    top: -10px;
    color: #fff;
    left: 10px;
}

.contact-info p {
    margin-bottom: 0;
    color: #fff;
    margin-left: 50px;
}

.contact-icon {
    color: #ff4a57;
    font-size: 32px;
}

@media screen and (max-width:1339px){
 #contact-form{
    width: 400px;
    flex-wrap: wrap;
   margin-right: 0px !important;
    display: flex;
    flex-direction: column;
    
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
   
}
}
@media screen and (max-width:526px){
    #contact-form{
    width: 400px;
    flex-wrap: wrap;
   
    display: flex;
    flex-direction: column;
    
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
   
}
}

@media screen and (max-width:430px){
    #contact-form{
    width: 300px;
    flex-wrap: wrap;
   
    display: flex;
    flex-direction: column;
    
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
   
}
}
@media screen and (max-width:320px){
    #contact-form{
    width: 200px;
    flex-wrap: wrap;
   
    display: flex;
    flex-direction: column;
    
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
   
}
}
/* End of Contact */