.contact-section-main {
    margin-top: 250px;
    width: 100%;
    min-height: 900px;
    background: var(--bkg);
}

.main-title-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-title {
    padding: 10px;
    color: #fff;
    position: relative;
    margin-top: 60px;
}

.main-title::after {
    content: "";
    position: absolute;
    width: 170px;
    height: 4px;
    background: var(--primary);
    top: 55px;
    left: 50%;
    margin-left: -85px;
}

.main-title-span {
    color: var(--primary);
}

.location-container {
    margin-left: 200px;
    margin-right: 20px;
    border-right: 4px solid var(--primary);
    height: 500px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-location-main-container {
    margin: 85px 0px 0px 0px;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
}

.name-container,
.address-container,
.email-container {
    display: flex;
    align-items: center;
    justify-content: start;
    margin: 0px 0px 40px 0px;
}

.fa-user,
.fa-map-marker-alt,
.fa-envelope,
.fa-phone {
    color: var(--primary);
    padding: 15px;
    font-size: 25px;
    margin-right: 10px;
}

.h1-p-container h1 {
    color: #fff;
    font-size: 20px;
}

.h1-p-container p {
    color: #fff;
    font-size: 17px;
}

@media screen and (max-width: 1339px) {
    .contact-location-main-container {
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
    }

    .location-container {
        margin-left: 0px;
        margin-right: 50px;
        border-right: 4px solid var(--primary);
        height: 500px;
        width: 400px;
    }
}

@media screen and (max-width: 940px) {
    .contact-location-main-container {
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 920px) {
    .location-container {
        margin-right: 20px;
        border-right: 4px solid var(--primary);
        height: 500px;
        width: 400px;
    }
}

@media screen and (max-width: 430px) {
    .location-container {
        margin-right: 0px;
        border-right: 4px solid var(--primary);
        height: 400px;
        width: 300px;
    }
}

@media screen and (max-width: 300px) {
    .h1-p-container h1 {
        color: #fff;
        font-size: 18px;
    }

    .h1-p-container p {
        color: #fff;
        font-size: 15px;
    }
}