.skills-section-main {
    margin-top: 250px;
    width: 100%;
    min-height: 900px;
    position: relative;
    background: var(--bkg);
}

.skills-text-container {
    display: flex;
    justify-content: center;
}

.skills-main-text {
    padding: 10px;
    color: #fff;
    margin-top: 50px;
}

.skills-span {
    color: var(--primary)
}

.skills-main-text::after {
    content: '';
    position: absolute;
    width: 220px;
    height: 4px;
    background: var(--primary);
    top: 58px;
    left: 50%;
    margin-left: -110px;
}

.skills-icons-container {
    flex-wrap: wrap;
    margin-left: 200px;
    width: 400px;
}

.skills-picture-icons-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
    flex-wrap: wrap;
    height: 80%;
}

#MiniLeftNav,
#MiniLeftNav2,
#MiniLeftNav3,
#MiniLeftNav4 {
    flex-wrap: wrap;
    justify-content: space-between;
    display: flex;
}

#MiniLeftNav li,
#MiniLeftNav2 li,
#MiniLeftNav3 li,
#MiniLeftNav4 li {
    list-style: outside none none;
    margin: 20px 0;
    padding: 0;
    width: 48px;
}

#MiniLeftNav li a,
#MiniLeftNav2 li a,
#MiniLeftNav3 li a,
#MiniLeftNav4 li a {
    border: none;
    display: block;
    padding: 17px;
    position: relative;
}

#MiniLeftNav span,
#MiniLeftNav2 span,
#MiniLeftNav3 span,
#MiniLeftNav4 span {
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 1px;
    text-transform: uppercase;
    bottom: 42px;
    left: 86px;
    line-height: 28px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 0;
    -webkit-transition: 0.50s;
    -moz-transition: 0.50s;
    transition: 0.50s;
}

#MiniLeftNav a:hover span,
#MiniLeftNav2 a:hover span,
#MiniLeftNav3 a:hover span,
#MiniLeftNav4 a:hover span {
    width: auto;
    padding: 0 20px;
    overflow: visible;
}

#MiniLeftNav a:hover,
#MiniLeftNav2 a:hover,
#MiniLeftNav3 a:hover,
#MiniLeftNav4 a:hover {
    text-decoration: none;
}

#MiniLeftNav a span,
#MiniLeftNav2 a span,
#MiniLeftNav3 a span,
#MiniLeftNav4 a span {
    background-color: transparent;
    color: #fff;
}

.skills-picture-container {
    margin-right: 150px;
    width: 400px;
    height: 300px;
}

.skills-pic {
    border-radius: 10px;
    width: 400px;
    height: 300px;
}

.skills-pic {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.skills-pic:hover,
.skills-pic:focus,
.skills-pic:active {
    border: 2px solid var(--primary);
    filter: blur(2px);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.skills-middle-text-container {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    margin-right: 200px;
    width: 450px;
}

.auto-type-skills {
    padding: 16px;
    font-weight: 800;
    color: #fff;
    font-size: 20px;
}

.skills-me-text1 span {
    color: var(--primary);
}

.fa-html5,
.fa-css3,
.fa-js-square,
.fa-react,
.fa-github-square,
.fa-paint-brush {
    color: #FFF;
    opacity: 0.6;
}

.fa-html5:hover,
.fa-css3:hover,
.fa-js-square:hover,
.fa-react:hover,
.fa-github-square:hover,
.fa-paint-brush:hover {
    color: #fff;
    transform: scale(1.2) rotate(360deg);
    color: var(--primary);
    transition: all .6s ease-in-out 0s;
    opacity: 1;
}

.skills-me-text1 {
    padding: 15px;
    color: #fff;
    font-size: 22px;
}

.tipical-container {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.skills-middle-text {
    margin-right: 10px;
    border-right: 2px solid var(--primary);
    display: flex;
    flex-direction: column;
}

@media screen and (max-width:1340px) {
    .skills-middle-text-container {
        margin-left: 50px;
    }
}

@media screen and (max-width:1318px) {
    .skills-picture-icons-container {
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
    }

    .skills-icons-container {
        margin-bottom: 50px !important;
        flex-wrap: wrap;
        margin-left: 0px;
        width: 800px;
    }

    .skills-middle-text-container {
        padding: 20px;
        display: flex;
        flex-wrap: wrap;
        margin-right: 0px;
        width: 450px;
    }

    #MiniLeftNav,
    #MiniLeftNav2,
    #MiniLeftNav3,
    #MiniLeftNav4 {
        flex-wrap: wrap;
        justify-content: space-evenly;
        display: flex;
    }

    #MiniLeftNav li a,
    #MiniLeftNav2 li a,
    #MiniLeftNav3 li a,
    #MiniLeftNav4 li a {
        border: none;
        display: block;
        padding: 0px;
        position: relative;
    }
}

@media screen and (max-width:735px) {

    #MiniLeftNav span,
    #MiniLeftNav2 span,
    #MiniLeftNav3 span,
    #MiniLeftNav4 span {
        font-family: 'Ubuntu', sans-serif;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 1px;
        text-transform: uppercase;
        bottom: -35px;
        left: -20px;
        line-height: 28px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        white-space: nowrap;
        width: 0;
    }

    .skills-picture-icons-container {
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
    }

    .skills-icons-container {
        margin-bottom: 50px !important;
        flex-wrap: wrap;
        margin-left: 0px;
        width: 600px;
    }

    .skills-middle-text-container {
        padding: 20px;
        display: flex;
        flex-wrap: wrap;
        margin-right: 0px;
        width: 450px;
    }

    #MiniLeftNav,
    #MiniLeftNav2,
    #MiniLeftNav3,
    #MiniLeftNav4 {
        flex-wrap: wrap;
        justify-content: space-evenly;
        display: flex;
    }

    #MiniLeftNav li a,
    #MiniLeftNav2 li a,
    #MiniLeftNav3 li a,
    #MiniLeftNav4 li a {
        border: none;
        display: block;
        padding: 0px;
        position: relative;
    }
}

@media screen and (max-width:490px) {
    .skills-middle-text h1 {
        font-size: 17px !important;
    }

    .auto-type-skills {
        padding: 15px !important;
        font-size: 17px !important;
    }

    .skills-middle-text1 {
        padding: 15px;
    }
}

@media screen and (max-width:422px) {
    .skills-middle-text h1 {
        font-size: 15px !important;
    }

    .auto-type-skills {
        padding: 14px !important;
        font-size: 16px !important;
    }
}

@media screen and (max-width:399px) {
    .skills-middle-text h1 {
        padding: 13px !important;
        font-size: 14px !important;
    }

    .auto-type-skills {
        padding: 13px !important;
        font-size: 14px !important;
    }
}

@media screen and (max-width:371px) {
    .skills-middle-text h1 {
        padding: 11px !important;
        font-size: 13px !important;
    }

    .auto-type-skills {
        padding: 11px !important;
        font-size: 13px !important;
    }
}

@media screen and (max-width:350px) {
    .skills-middle-text h1 {
        padding: 9px !important;
        font-size: 12px !important;
    }

    .auto-type-skills {
        padding: 9px !important;
        font-size: 12px !important;
    }
}

@media screen and (max-width:326px) {
    .skills-middle-text h1 {
        padding: 7px !important;
        font-size: 11px !important;
    }

    .auto-type-skills {
        padding: 7px !important;
        font-size: 11px !important;
    }
}

@media screen and (max-width:306px) {
    .skills-middle-text h1 {
        padding: 4px !important;
        font-size: 10px !important;
    }

    .auto-type-skills {
        padding: 4px !important;
        font-size: 10px !important;
    }
}