.work-section-main {
    position: relative;
    margin-top: 250px;
    width: 100%;
    min-height: 1000px;
/* border: 1px solid black; */
}

.work-span{
    color: var(--primary)
}

.work-section-title-container{
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
}

.work-section-title{
padding: 10px;
color: var(--fourth);
}

.work-section-title::after{
    content: '';
    position: absolute;
    width: 130px;
    height: 4px;
    background: var(--primary);
    top: 55px;
    left: 50%;
    margin-left: -65px;
}

.work-section-cards-container{
   margin-top:100px;
    /* margin:70px 100px; */
    justify-content:center;
    flex-wrap: wrap;
    display: flex;
    /* border: 1px solid black; */
}

