.footer-container {
  background: rgb(19, 19, 19);
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-text{
 font-family: 'Poppins',
 sans-serif !important;
  /* margin-top: -40px; */
  color: var(--primary);
  font-size: 1em;
}

.footer-span{
  color: var(--primary);
}

.footer-para{
  color: #fff;
}

@media screen and (max-width: 768px) {
}
