.scroll-to-top {
  --size: 5rem;
  position: fixed;
  bottom: 2%;
  right: 3%;
  opacity: 0.4 !important;
  z-index: 1024;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  border: none;
  outline: none !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary);
}

.scroll-to-top:hover {
  transition: .1s ease;
  background-color: var(--primary);
  opacity: 1 !important;
}

.scroll-to-top__icon {
  color: #fff;
}

.scroll-to-top:hover .scroll-to-top__icon {
  color: #fff;
}

.scroll-to-top__icon {
  font-size: 34px;
}