/** @format */

.work-section-card1-container {
  margin: 70px;
  position: relative;
  -webkit-box-shadow: 0px 0px 18px 2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 18px 2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 18px 2px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
}

.card1-img {
  -webkit-box-shadow: 0px 20px 0px -10px #535353, 0px -20px 0px -10px #535353,
    20px 0px 0px -10px #535353, -20px 0px 0px -10px #535353,
    0px 0px 0px 15px #4070f4, 2px 3px 0px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 20px 0px -10px #535353, 0px -20px 0px -10px #535353,
    20px 0px 0px -10px#535353, -20px 0px 0px -10px#535353,
    0px 0px 0px 10px #4070f4, 2px 3px 0px 5px rgba(0, 0, 0, 0);
  filter: blur(2px) !important;
  filter: brightness(60%) !important;
  border-radius: 10px;
  width: 380px;
  height: 520px;
  transition: all 0.5s ease;
}

.overlay {
  border-radius: 10px !important;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-image: url(/images/home2.png);
}

.work-section-card1-container:hover .overlay {
  opacity: 1;
  filter: blur(5px);
  background: rgba(12, 12, 12, 0.623);
  background-image: url(/images/home2.png);
}

.overlay2 {
  border-radius: 10px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-image: url(/images/watchlist2.png);
}

.work-section-card1-container:hover .overlay2 {
  opacity: 1;
  filter: blur(5px);
  background: rgba(12, 12, 12, 0.808);
  background-image: url(/images/watchlist2.png);
}

.overlay3 {
  border-radius: 10px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-image: url(/images/emojiapp2.png);
}

.work-section-card1-container:hover .overlay3 {
  opacity: 1;
  filter: blur(5px);
  background: rgba(12, 12, 12, 0.445);
  background-image: url(/images/emojiapp2.png);
}

.overlay4 {
  border-radius: 10px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-image: url(/images/moviedetails2.png);
}

.work-section-card1-container:hover .overlay4 {
  opacity: 1;
  filter: blur(5px);
  background: rgba(12, 12, 12, 0.445);
  background-image: url(/images/moviedetails2.png);
}

.overlay5 {
  border-radius: 10px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-image: url(/images/login_register2.png);
}

.work-section-card1-container:hover .overlay5 {
  opacity: 1;
  filter: blur(5px);
  background: rgba(12, 12, 12, 0.445);
  background-image: url(/images/login_register2.png);
}

.overlay6 {
  border-radius: 10px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-image: url(/images/addmovie2.png);
}

.work-section-card1-container:hover .overlay6 {
  opacity: 1;
  filter: blur(5px);
  background: rgba(12, 12, 12, 0.445);
  background-image: url(/images/addmovie2.png);
}

.card1-p2 {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 10px;
  transform: translate(-50%, -50%);
  font-weight: 800;
  font-size: 25px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  border: 5px solid #fff;
  z-index: 1;
  transition: top 0.5s ease !important;
  background:rgba(0, 0, 0, 0.349);
  
}

.work-section-card1-container:hover .card1-p2 {
  filter: blur(2px);
  opacity: 0;
  top: 90px;
}

.work-btn1 {
  padding: 12px 14px !important;
  position: absolute;
  top: 50%;
  border-radius: 5px !important;
  font-weight: 600;
  left: 50%;
  text-decoration: none;
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0;
  transition: opacity 1s ease !important;
}

.work-btn1:hover {
  transition: 0.5s ease !important;
  background: transparent !important;
  color: var(--primary);
}

.work-section-card1-container:hover .work-btn1 {
  opacity: 1;
}

.github-icon {
  opacity: 0;
  height: 50px;
  width: 50px;
  transition: all 0.5s ease;
  position: absolute;
  left: 50%;
  top: 88%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.github-icon:hover,
.github-icon:focus .github-icon:active {
  height: 51px;
  width: 51px;
  padding: 3px;
}

.work-section-card1-container:hover .github-icon {
  opacity: 1;
}

@media screen and (max-width: 420px) {
  .card1-img {
    -webkit-box-shadow: 0px 20px 0px -10px #535353, 0px -20px 0px -10px #535353,
      20px 0px 0px -10px #535353, -20px 0px 0px -10px #535353,
      0px 0px 0px 15px #4070f4, 2px 3px 0px 5px rgba(0, 0, 0, 0);
    box-shadow: 0px 20px 0px -10px #535353, 0px -20px 0px -10px #535353,
      20px 0px 0px -10px#535353, -20px 0px 0px -10px#535353,
      0px 0px 0px 10px #4070f4, 2px 3px 0px 5px rgba(0, 0, 0, 0);
    filter: blur(1px) !important;
    filter: brightness(50%) !important;
    border-radius: 10px;
    width: 330px;
    height: 470px;
    transition: all 0.5s ease;
  }
}

@media screen and (max-width: 355px) {
  .card1-img {
    -webkit-box-shadow: 0px 20px 0px -10px #535353, 0px -20px 0px -10px #535353,
      20px 0px 0px -10px #535353, -20px 0px 0px -10px #535353,
      0px 0px 0px 15px #4070f4, 2px 3px 0px 5px rgba(0, 0, 0, 0);
    box-shadow: 0px 20px 0px -10px #535353, 0px -20px 0px -10px #535353,
      20px 0px 0px -10px#535353, -20px 0px 0px -10px#535353,
      0px 0px 0px 10px #4070f4, 2px 3px 0px 5px rgba(0, 0, 0, 0);
    filter: blur(1px) !important;
    filter: brightness(50%) !important;
    border-radius: 10px;
    width: 280px;
    height: 420px;
    transition: all 0.5s ease;
  }

  .github-icon {
    opacity: 0;
    height: 50px;
    width: 50px;
    transition: all 0.5s ease;
    position: absolute;
    left: 50%;
    top: 85%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}

@media screen and (max-width: 305px) {
  .card1-img {
    -webkit-box-shadow: 0px 20px 0px -10px #535353, 0px -20px 0px -10px #535353,
      20px 0px 0px -10px #535353, -20px 0px 0px -10px #535353,
      0px 0px 0px 15px #4070f4, 2px 3px 0px 5px rgba(0, 0, 0, 0);
    box-shadow: 0px 20px 0px -10px #535353, 0px -20px 0px -10px #535353,
      20px 0px 0px -10px#535353, -20px 0px 0px -10px#535353,
      0px 0px 0px 10px #4070f4, 2px 3px 0px 5px rgba(0, 0, 0, 0);
    filter: blur(1px) !important;
    filter: brightness(50%) !important;
    border-radius: 10px;
    width: 230px;
    height: 350px;
    transition: all 0.5s ease;
  }

  .github-icon {
    opacity: 0;
    height: 50px;
    width: 50px;
    transition: all 0.5s ease;
    position: absolute;
    left: 50%;
    top: 82%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}
